
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/7bbf5719d9.js" crossorigin="anonymous"></script>
        <link href="/public/style.css" rel="stylesheet" />
        <title>portal Danki</title>
    </head>
    <header>
        <div class="nav_center center">
            <div class="logo">
                <h2><a href="/">Danki News</a></h2>
            </div>
            <div class="form_busca">
                <form action="/">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input  name="busca" type="text" placeholder="busca">
                </form>
            </div>
        </div>
    </header>