<%- include('partials/header.html') %>

    <section class="noticia-destaque">
        <div class="center">
            <h2>Busca:</h2>
                <div class="noticias_busca">
                    <% for(let i = 1; i < postsBusca.length; i++){ %>
                        <div class="noticia">   
                            <img src=<%= postsBusca[i].imagem %> alt="">
                            <div class="noticia_info">
                                <h3><%= postsBusca[i].titulo %></h3>
                                <p><%= postsBusca[i].chamada %></p>
                                <a href="/<%= postsBusca[i].slug %>">Saiba mais</a>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

    </section>
    
<%- include('partials/footer.html') %>

    
