<%- include('partials/header.html') %>

    <section class="noticia-destaque">
        <div class="center">
            <div class="img_destaque">
                <div class="info_destaque">
                    <h1><%= posts[0].titulo %></h1>
                    <p><%= posts[0].conteudo %></p>
                </div>
                <a href="/<%= posts[0].slug %>">
                    <img src="<%= posts[0].imagem %>" alt="lake">
                </a>
            </div>
        </div>
    </section>

    <section class="outras_noticias">
        <div class="title_outras_noticias">
            <h1>Últimas Noticias</h1>
            <div class="center">
                <div class="container-ultimas">

                    <% for(let i = 1; i < posts.length; i++){ %>
                        <a href="/<%= posts[i].slug %>">
                        <div class="ultimas">
                            <img src=<%= posts[i].imagem %> alt="">
                            <div class="info-ultimas">
                                <h5><%= posts[i].categoria %></h5>
                                <h2><%= posts[i].titulo %></h2>
                                <p><%= posts[i].chamada %></p>
                            </div>
                        </div>
                    </a>
                    
                   <% } %>
                </div>

                <div class="mais-lidas">

                    <% for(let i = 0; i < postsTop.length; i++){ %>
                    <a href="/<%= postsTop[i].slug %>">
                        <div class="noticia">   
                            <img src=<%= postsTop[i].imagem %> alt="">
                            <div class="noticia_info">
                                <h3><%= postsTop[i].categoria %></h3>
                                <p class="class-views" ><%= postsTop[i].view %> views</p>
                                <p><%= postsTop[i].chamada %></p>
                                
                            </div>
                        </div>
                    </a>

                   <% } %>

                </div>
            </div>
        </div>

    </section>
    
<%- include('partials/footer.html') %>

    
