<%- include('partials/header.html') %>
    

    <section class="noticia-single-container">
        <div class="noticia-single">
            <h1><%= post.titulo %></h1>
            <h4><%= post.categoria %></h4>
            <img class="class-image-single" src=<%= post.imagem %> alt=<%= post.titulo %>>
            <p class="class-views"><%= post.view %> views</p>
            <p><%= post.conteudo %></p>
            <h3><%= post.slug %></h3>
            <p><%= post.conteudo %></p>
        </div>
        <div class="mais-lidas">

            <% for(let i = 0; i < postsTop.length; i++){ %>
                <a href="/<%= postsTop[i].slug %>">
                    <div class="noticia">   
                        <img src=<%= postsTop[i].imagem %> alt="">
                        <div class="noticia_info">
                            <h3><%= postsTop[i].categoria %></h3>
                            <p class="class-views" ><%= postsTop[i].view %> views</p>
                            <p><%= postsTop[i].chamada %></p>
                            
                        </div>
                    </div>
                </a>

               <% } %>

        </div>
    </section>


<%- include('partials/footer.html') %>