<%- include('partials/header.html') %>
    

    <section class="noticia-single-container">
        <div class="noticia-single">
            <h1>titulo</h1>
            <h4>autor</h4>
            <p>
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <h3>sub title</h3>
            <p>
                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
        </div>
        <div class="mais-lidas">

            <div class="noticia">   
                <img src="/public/image3.jpg" alt="">
                <div class="noticia_info">
                    <h3>Natureza</h3>
                    <p> type and scrambled it to make a type specimen book. It has survived not only</p>
                    <a href="">Saiba mais</a>
                </div>
            </div>
            <div class="noticia">   
                <img src="/public/image3.jpg" alt="">
                <div class="noticia_info">
                    <h3>Natureza</h3>
                    <p> type and scrambled it to make a type specimen book. It has survived not only</p>
                    <a href="">Saiba mais</a>
                </div>
            </div>
            <div class="noticia">   
                <img src="/public/image3.jpg" alt="">
                <div class="noticia_info">
                    <h3>Natureza</h3>
                    <p> type and scrambled it to make a type specimen book. It has survived not only</p>
                    <a href="">Saiba mais</a>
                </div>
            </div>
            <div class="noticia">   
                <img src="/public/image3.jpg" alt="">
                <div class="noticia_info">
                    <h3>Natureza</h3>
                    <p> type and scrambled it to make a type specimen book. It has survived not only</p>
                    <a href="">Saiba mais</a>
                </div>
            </div>

        </div>
    </section>


<%- include('partials/footer.html') %>